[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Icon=harbour-sailbabel
Exec=harbour-sailbabel
Name=SailBabel
Name[dk]=Ordbog
Name[de]=Wörterbuch
Name[en]=Dictionary
Name[es]=Diccionario
Name[fr]=Dictionnaire
Name[it]=Dizionario
Name[no]=Ordbok
Name[pl]=Słownik
Name[pt]=Dicionário
Name[fi]=Sanakirja
Name[se]=Ordbok
Name[ru]=Слова́рь

[X-Sailjail]
Permissions=UserDirs
OrganizationName=rabauke
ApplicationName=harbour-sailbabel
